/*界面css初始化*/
body{
    -webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*分享*/
.fenxiang-icon {
    display: block;
    width: 23px;
    height: 23px;
    background-image: url("../images/fenxiang.png");
    background-repeat: no-repeat;
}

.fenxiang-xinlang {
    background-position: 0 0;
}

.fenxiang-tenxunweibo {
    background-position: -23px 0;
}

.fenxiang-renren {
    background-position: -46px 0;
}

.fenxiang-dian {
    background-position: -69px 0;
}

.fenxiang-hongxin {
    background-position: -92px 0;
}

.fenxiang-douban {
    background-position: -115px 0;
}

.fenxiang-duitian {
    background-position: -138px 0;
}

.fenxiang-xingxing {
    background-position: -161px 0;
}

.fenxiang-baidu {
    background-position: -184px 0;
}

.fenxiang-qqkongjian {
    background-position: -207px 0;
}

.fenxiang-qq {
    background-position: -230px 0;
}

.fenxiang-xinlang:hover {
    background-position: 0 -23px;
}

.fenxiang-tenxunweibo:hover {
    background-position: -23px -23px;
}

.fenxiang-renren:hover {
    background-position: -46px -23px;
}

.fenxiang-dian:hover {
    background-position: -69px -23px;
}

.fenxiang-hongxin:hover {
    background-position: -92px -23px;
}

.fenxiang-douban:hover {
    background-position: -115px -23px;
}

.fenxiang-duitian:hover {
    background-position: -138px -23px;
}

.fenxiang-xingxing:hover {
    background-position: -161px -23px;
}

.fenxiang-baidu:hover {
    background-position: -184px -23px;
}

.fenxiang-qqkongjian:hover {
    background-position: -207px -23px;
}

.fenxiang-qq:hover {
    background-position: -230px -23px;
}

/*一些常用操作*/
.clearfix {
    zoom: 1;
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.font0 {
    font-size: 0;
}

.fontBolder {
    font-size: 12px;
    font-weight: bolder;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.reduce-opacity:hover {
    opacity: .8;
    filter: alpha(opacity:.8);
    /*background-color: #ffffff;*/
}
.left{
    float: left;
}
.right{
    float: right;
}
/*动画*/
.infinite {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.transition {
    transition: all 1s;
    -webkit-transition: all 1s;
}

@keyframes xu-zoomIn {
    from {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    to {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes xuZoomIn {
    from {
    scale(0);
    }

    to {
    scale(1);
    }
}

/*顶部栏*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 39px;
    background-color: #3171b8;
    z-index: 9999;
    overflow: hidden;
}

header .logo {
    float: left;
    margin-left: 140px;
}

header .logo a img {
    width: 80px;
    height: 37px;
}

header ul {
    float: left;
    margin-left: 90px;
}

header ul li {
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 39px;
}

header ul li:hover {
    background-color: rgba(255, 255, 255, .3);
}

header ul li a {
    color: #fff;
}

.container {
    margin: 0 140px;
    margin-top: 39px;
    overflow: hidden;
}
/*内容栏 */
main {
    width: 1044px;
    margin-left: 144px;
    margin-top: 40px;
    overflow: hidden;
}
/*底部栏*/
footer {
    width: 100%;
    height: 282px;
    margin-top: 30px;
    border-top: 3px solid #f9f9f9;
    background-color: #fcfcfc;
    overflow: hidden;
}

footer .footer-top {
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 22px;
}

footer .footer-link {
    float: left;
}

footer .footer-link li {
    width: 100px;
    text-align: left;
    margin-top: 14px;
}

footer .footer-link li:nth-child(1) a {
    color: #333333;
    font-weight: bolder;
}

footer .footer-link li:nth-child(1) a:hover {
    color: inherit;
}

footer .footer-link li a {
    font-size: 12px;
    color: #999999;
}

footer .footer-link li a:hover {
    color: #2e8fc9;
}

footer .qrcode {
    float: right;
    margin-right: 163px;
}

footer .qrcode > p {
    font-size: 12px;
    color: #2e8fc9;
}

footer .qrcode > p.ani {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

footer .qrcode > img {
    width: 98px;
    height: 98px;
}

footer .footer-bottom {
    margin-top: 13px;
}

footer .footer-bottom > p {
    float: left;
    font-size: 12px;
    color: #999999;
    margin-top: 2px;
}

footer .footer-bottom i {
    float: left;
    margin-left: 10px;
}

/*注册弹出框*/
.alert-register {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
}

.alert-register .register-box {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 150px auto;
    background-color: #f8f8f8;
    border: 2px solid #dddddd;
    /*z-index: 10001;*/
    animation-name: xu-zoomIn;
    -webkit-animation-name: xu-zoomIn;
    animation-duration: 400ms;
    -webkit-animation-duration: 400ms;
}

.alert-register .register-box .close{
    position: absolute;
    top:9px;
    right:12px;
    width: 25px;
    height: 25px;
}

.alert-register .register-box:before {
    position: absolute;
    top: -156px;
    left: 0;
    content: "";
    width: 350px;
    height: 350px;
    margin: 150px auto;
    background-color: #f8f8f8;
    border: 2px solid #dddddd;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    z-index: -1;
}

.alert-register .register-box:after {
    position: absolute;
    top: -153px;
    left: 0;
    content: "";
    width: 350px;
    height: 350px;
    margin: 150px auto;
    background-color: #f8f8f8;
    border: 2px solid #dddddd;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    z-index: -2;
}

.alert-register .register-box .title {
    position: relative;
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    color: #7d7d7d;
}

.alert-register .register-box .title:before {
    position: absolute;
    top: 17px;
    left: 23px;
    content: "";
    width: 90px;
    height: 2px;
    background: linear-gradient(to right, #fff, #afafaf);
    background: -webkit-linear-gradient(to right, #fff, #afafaf);
}

.alert-register .register-box .title:after {
    position: absolute;
    top: 17px;
    left: 225px;
    content: "";
    width: 90px;
    height: 2px;
    background: linear-gradient(to left, #fff, #afafaf);
    background: -webkit-linear-gradient(to left, #fff, #afafaf);
}

.alert-register .register-box .register-info {
    display: none;
    width: 322px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #3171b8;
    border: 2px solid #d6d6d6;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: rgba(255,31,45,0.94);
}

.alert-register .register-box input {
    display: block;
    padding: 5px 10px;
    width: 303px;
    height: 28px;
    outline: none;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
    background-color: #e9e7e8;
    border: 2px solid #d6d6d6;
    border-radius: 2px;
}

.alert-register .register-box .register-btn {
    display: block;
    margin-top: 10px;
    margin-left: 214px;
    width: 114px;
    height: 30px;
    background-color: #3171b8;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 13px;
}

.alert-register .register-box .register-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f3f5f4;
    font-size: 14px;
    color: #7d7d7d;
    text-indent: 238px;
    line-height: 50px;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 4px 5px #f9f9f9;
}

/*返回顶部按钮*/
.backToTop{
    position: fixed;
    right: 40px;
    bottom: 40px;
}